.error {
  padding: 2rem;
  border-radius: 10px;
  z-index: 9999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  background-color: var(--c-soft-red);
  color: #fff;
}
